body {
	background: #FFF7F5;
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 400;
}

/* font-weight */

/* リキッドレイアウト対応 */

html {
	font-size: 16px;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #FFF7F5;
	color: #333;
	font-family: font-family-base;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.6;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
}

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */

html,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */

html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */

body {
	line-height: 1.5;
	min-height: 100vh;
	text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture {
	display: block;
	max-width: 100%;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
	font: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul {
	margin: 0;
	padding-left: 0;
}

/* Remove all animations and transitions for people that prefer not to see them */

fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	margin-left: 8px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	content: "";
	height: 16px;
	left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 10px 30px;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #3498db;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #3498db;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #3498db;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	background: #3498db;
	border-color: #3498db;
	color: #fff;
}

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

.header-sub {
	height: 7.5rem;
	margin-left: 30px;
	margin-right: 30px;
}

.header__inner {
	align-items: center;
	display: flex;
	height: inherit;
}

.btn__sub {
	display: block;
}

.header__nav {
	align-items: center;
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
}

.header__btn--leyout {
	margin-right: 5rem;
}

.header__right {
	align-items: center;
	display: flex;
}

.logo {
	margin-right: 11rem;
	max-height: 5.8125rem;
	max-width: 20.3125rem;
	width: 100%;
}

.logo img {
	width: 100%;
}

.instagram {
	margin-right: 2.4375rem;
}

/* ------------------ハンバーガーメニュー -----------------*/

.header__hamburger-button {
	cursor: pointer;
	display: block;
	height: 2.625rem;
	margin: auto;
	position: absolute;
	right: 0.625rem;
	text-align: center;
	top: 1.5625rem;
	width: 2.625rem;
	z-index: 3;
}

.header__hamburger-button span {
	background: #333;
	display: block;
	height: 0.1875rem;
	left: 0.375rem;
	position: absolute;
	transition: 0.2s ease-in-out;
	width: 2.625rem;
	z-index: 3;
}

.header__hamburger-button span:nth-child(1) {
	top: 0rem;
}

.header__hamburger-button span:nth-child(2) {
	top: 1.125rem;
}

.header__hamburger-button span:nth-child(3) {
	top: 2.25rem;
}

.header__hamburger-button.active span {
	background: #333;
}

.header__hamburger-button.active span:nth-child(1) {
	left: 0.375rem;
	top: 1rem;
	transform: rotate(-45deg);
}

.header__hamburger-button.active span:nth-child(2),
.header__hamburger-button.active span:nth-child(3) {
	top: 16px;
	transform: rotate(45deg);
}

.header__hamburger-content {
	align-items: center;
	background: #FFF7F5;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	transform: translateX(100%);
	transition: all 0.2s;
	width: 100%;
	z-index: 2;
}

.header__hamburger-content.active {
	transform: translateX(0%);
}

.header__hamburger-item {
	font-size: 1.75rem;
	text-align: center;
}

.header__hamburger-item a {
	color: #000;
	display: inline-block;
	padding-bottom: 2rem;
	text-decoration: none;
}

.instagram {
	width: 4.25rem;
}

.btn__sub {
	height: 4.625rem;
	max-width: 23rem;
	position: relative;
	width: 100%;
}

.btn__inner {
	background: #FBBBA7;
	border-radius: 0.9375rem;
	padding-bottom: 1.53125rem;
	padding-left: 2.8125rem;
	padding-right: 1.875rem;
	padding-top: 1.53125rem;
}

.btn__box {
	word-wrap: break-word;
	align-items: center;
	display: flex;
}

.btn__box img {
	height: 1.5625rem;
	max-width: 2.125rem;
	width: 100%;
}

.btn__text {
	color: #FFF;
	font-size: 1rem;
	margin-left: 0.625rem;
	margin-right: 0.625rem;
}

.btn__text span {
	position: absolute;
	right: 0.625rem;
	top: 2.5rem;
	transform: translate(-50%, -50%);
}

.b-btn {
	border-radius: 3.125rem;
	position: relative;
}

.b-btn__text {
	font-size: 1rem;
	line-height: 1.9;
	text-align: center;
}

.b-btn__text span {
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.ttl {
	font-size: 2rem;
	font-weight: 500;
	left: 0rem;
	position: relative;
	text-align: center;
	top: 0;
}

.ttl::before {
	border-bottom: 0.1875rem solid #333;
	bottom: -3.125rem;
	content: '';
	left: 50%;
	position: absolute;
	right: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 4.375rem;
}

.footer__inner {
	margin-left: 30px;
	margin-right: 30px;
	padding-bottom: 3.125rem;
	padding-top: 8.9375rem;
}

.footer__title {
	text-align: center;
}

.footer__btn-box {
	align-items: flex-end;
	background: #FFF4F0;
	border-radius: 0.9375rem;
	display: flex;
	margin-top: 4.5625rem;
	padding: 5.5625rem 3.75rem;
	width: 100%;
}

.footer__mail-btn,
.footer__tell-box {
	max-width: 53.125rem;
	width: 100%;
}

.footer__mail-btn {
	padding-right: 2.4375rem;
}

.footer__tell-box {
	padding-left: 2.4375rem;
}

.footer__mail-btn a {
	padding: 2.68463rem 0rem;
}

.footer__tell-btn a {
	padding: 2rem 0rem;
}

.footer__mail-btn a,
.footer__tell-btn a {
	align-items: center;
	background: #FFF;
	border-radius: 6.25rem;
	display: flex;
	justify-content: center;
}

.footer__mail-icon img,
.footer__tell-icon img {
	height: auto;
	max-width: 2.75rem;
	width: 100%;
}

.footer__btn-text {
	padding-left: 1.875rem;
}

.footer__tell-text {
	font-size: 1rem;
	line-height: 3;
	padding: 0rem 1.25rem;
	text-align: center;
}

.footer__wrap {
	align-items: center;
	background: #FFF4F0;
	border-radius: 0.9375rem;
	display: flex;
	justify-content: space-between;
	padding: 2.1875rem 3.75rem;
}

.footer_logo {
	max-width: 17.5rem;
	width: 100%;
}

.footer_logo {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}

.footer__comment {
	font-size: 1rem;
	line-height: 3;
	padding-top: 10.875rem;
	text-align: right;
}

.footer__menu {
	display: flex;
	margin-left: 1.875rem;
}

.footer__menu-item {
	font-size: 0.75rem;
	margin-right: 1.25rem;
}

.footer__menu-item:last-child {
	margin-right: 0rem;
}

.footer__comment a {
	border-bottom: 0.0625rem solid #333;
}

.mv-underlayer__inner {
	align-items: center;
	display: flex;
	height: 24.3125rem;
	justify-content: center;
	width: 100%;
}

.mv-underlayer__title {
	color: #FFF;
	font-family: 'Kiwi Maru', serif;
	font-size: 2.8125rem;
	font-weight: 500;
	letter-spacing: 0.14875rem;
	line-height: 1.3;
}

.title-logo {
	height: auto;
	margin: auto;
	max-width: 3.5rem;
	padding-bottom: 0.9375rem;
}

.step__container {
	display: flex;
	justify-content: center;
}

.step__box {
	display: flex;
}

.step_heading {
	font-size: 2rem;
	font-weight: 500;
}

.step_heading:first-child {
	padding-top: 0.4375rem;
}

.step__heading-box {
	padding-right: 1.25rem;
}

.step__ttl {
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.218;
}

.step__content {
	padding-left: 3.125rem;
}

.step__content-box {
	display: flex;
}

.step__comment-box {
	padding-right: 4.0625rem;
}

.step__ttl:first-child {
	padding-top: 0.4375rem;
}

.effect__title {
	align-items: center;
	display: flex;
	font-family: a-otf-ryumin-pr6n, serif;
	font-size: 2rem;
	font-weight: 500;
	text-align: center;
}

.effect__title:before,
.effect__title:after {
	background-color: #707070;
	content: "";
	flex-grow: 1;
	height: 0.125rem;
}

.effect__title:before {
	margin-right: 0rem;
}

.effect__title:after {
	margin-left: 0rem;
}

.effect__picture-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 10.875rem;
}

.effect__picture {
	max-width: 29.75rem;
	width: 100%;
}

.effect__picture img {
	max-width: 29.75rem;
	width: 100%;
}

.effect__picture:nth-child(5),
.effect__picture:nth-child(8) {
	margin: 4.75rem 0rem;
}

.effect__arrow {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: 1.875rem;
	margin-right: 1.5rem;
	max-width: 3.75rem;
	width: 100%;
}

.effect__arrow img {
	max-width: 3.75rem;
	width: 100%;
}

.effect__arrow-sp {
	display: none;
}

.c-card__inner {
	background: #FFF;
	box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.16);
	margin-top: 4.375rem;
	padding-bottom: 6.25rem;
	padding-left: 3.75rem;
	padding-right: 1.25rem;
	padding-top: 6.25rem;
}

.c-card__wrap {
	display: flex;
}

.c-card__text-box {
	width: 100%;
}

.c-card__picture-box {
	margin-right: 3.125rem;
	max-width: 20.875rem;
	position: relative;
	width: 100%;
}

.c-card__picture-box::before {
	content: "";
	display: block;
	padding-top: 75%;
}

.c-card__picture-box img {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.c-card__title {
	font-size: 1.5rem;
	font-weight: 700;
}

.cards__item {
	display: flex;
	flex-wrap: wrap;
}

.card__box {
	background: #FFF;
	border-radius: 0.9375rem;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
	margin-right: 1.5625rem;
	margin-top: 2.8125rem;
	width: calc(33.3333333% - 1.5625rem * 2 / 3);
}

.card__box:nth-child(-n+3) {
	margin-top: 0rem;
}

.card__box:nth-child(3n) {
	margin-right: 0rem;
}

.card__box:last-child {
	margin-right: 0rem;
}

.card__picture {
	position: relative;
	width: 100%;
}

.card__picture::before {
	content: "";
	display: block;
	padding-top: 68%;
}

.card__picture img {
	-o-object-fit: cover;
	border-radius: 0.9375rem 0.9375rem 0rem 0rem;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.card__text-box {
	padding-bottom: 1.875rem;
	padding-left: 2.125rem;
	padding-right: 2.125rem;
	padding-top: 1.5rem;
}

.card__title {
	font-size: 1.25rem;
	font-weight: 500;
	text-align: center;
}

.card__text {
	font-size: 1rem;
	line-height: 2.175;
	padding-top: 1.25rem;
}

.mv-top__sub {
	-o-object-fit: cover;
	background-image: url(../img/top__back-pc.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 36.8125rem;
	margin-left: 30px;
	margin-right: 30px;
	object-fit: cover;
	position: relative;
}

.mv__inner {
	height: inherit;
	padding-left: 3.75rem;
	padding-right: 3.75rem;
}

.mv__title-box {
	color: #FF9879;
	left: 3.75rem;
	position: absolute;
	top: 18.75rem;
}

.mv__title {
	font-size: 3.75rem;
	font-weight: 700;
	line-height: 1.8;
}

.mv__sub-title {
	font-size: 2.8125rem;
	font-weight: 400;
}

.measures-sub {
	margin: auto;
	padding-top: 4.5rem;
	width: 100%;
}

.measures__inner {
	margin: auto;
	max-width: 95rem;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%;
}

.measures__wrap {
	border-bottom: 0.125rem solid #707070;
	width: 100%;
}

.measures__wrap-inner {
	margin-left: 4.375rem;
	margin-right: 4.375rem;
}

.measures__title {
	align-items: center;
	color: #FF9879;
	display: flex;
	font-size: 1.75rem;
	font-weight: 500;
	letter-spacing: 0.0975rem;
	line-height: 1.7;
	text-align: center;
}

.measures__title:before,
.measures__title:after {
	background-color: #707070;
	content: "";
	flex-grow: 1;
	height: 0.125rem;
}

.measures__title:before {
	margin-right: 2.75rem;
}

.measures__title:after {
	margin-left: 2.75rem;
}

.measures__text {
	font-size: 1rem;
	padding-bottom: 3.125rem;
	padding-top: 3.125rem;
	text-align: center;
}

.measures__container {
	background: #FFE8E0;
	border-radius: 3.125rem;
	display: flex;
	justify-content: center;
	margin: auto;
	margin-bottom: 3.125rem;
	max-width: 95.875rem;
	padding: 1.875rem 3.125rem;
	text-align: center;
	text-align: center;
	width: 100%;
}

.measures__picture-box {
	margin-right: 2.3125rem;
	max-width: 18.4375rem;
	width: 100%;
}

.measures__picture-box:last-child {
	margin-right: 0rem;
}

.measures__picture-box:last-child {
	margin-right: 0rem;
}

.measures__picture {
	margin: auto;
}

.measures__picture-text {
	font-size: 0.875rem;
	padding-top: 1.25rem;
}

.greeting-sub {
	padding-bottom: 6.25rem;
	padding-top: 4.625rem;
}

.greeting_inner {
	-o-object-fit: cover;
	background-image: url(../img/greeting_back.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
	max-width: 75rem;
	object-fit: cover;
	padding-bottom: 6.875rem;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 6.875rem;
	width: 100%;
}

.greeting__wrap {
	text-align: center;
}

.greeting__text {
	font-size: 1rem;
	font-weight: 500;
	line-height: 2.222222;
	padding-bottom: 3rem;
	padding-top: 1.875rem;
}

.greeting__name {
	font-size: 1.125rem;
	font-weight: 500;
}

.news__inner {
	margin: auto;
	max-width: 95rem;
	padding-bottom: 8.125rem;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%;
}

.news__wrap {
	background: #FFF;
	padding: 5.9375rem 9.3125rem;
}

.news__container {
	padding-bottom: 3.6875rem;
	padding-top: 5.9375rem;
}

.news__content {
	margin-bottom: 1.875rem;
}

.news__content:last-child {
	margin-bottom: 0rem;
}

.news__title {
	font-size: 2rem;
	font-weight: 400;
	text-align: center;
}

.news__day {
	display: inline-block;
	font-size: 1.125rem;
}

.news__category {
	background: #FFAC93;
	color: #FFF;
	display: inline-block;
	font-size: 0.8125rem;
	margin-left: 1.3125rem;
	padding: 0.1875rem 1.5625rem;
}

.news__comment {
	border-bottom: 0.0625rem solid #707070;
	font-size: 1.375rem;
	padding-bottom: 1.4375rem;
	padding-top: 1.0625rem;
}

.news__btn {
	background: #FF9D80;
	margin: auto;
	max-width: 40rem;
	padding: 1.25rem 0rem;
	width: 100%;
}

.news__text--color {
	color: #FFF;
}

.opinion__inner {
	background: #FFF4F0;
	padding-bottom: 1.875rem;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 1.875rem;
}

.opinion__wrap {
	display: flex;
	justify-content: center;
	margin: auto;
	max-width: 78.125rem;
	padding-left: 3.125rem;
	padding-right: 3.125rem;
	width: 100%;
}

.opinion__card {
	background: #FFF;
	border-radius: 1.5625rem;
	display: flex;
	flex-direction: column;
	height: auto;
	max-width: 23.4375rem;
	padding-bottom: 2.75rem;
	padding-left: 1.375rem;
	padding-right: 1.375rem;
	padding-top: 3.0625rem;
	width: 100%;
}

.opinion__card:nth-child(2) {
	margin-left: 1.25rem;
	margin-right: 1.25rem;
}

.opinion__picture {
	margin: 0 auto;
	max-width: 11.9375rem;
	width: 100%;
}

.opinion__picture img {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}

.opinion__title {
	font-size: 1.25rem;
	font-weight: 500;
	padding-bottom: 1.875rem;
	padding-top: 1.4375rem;
	text-align: center;
}

.opinion__text {
	font-size: 1rem;
	line-height: 2.125;
}

.flow-sub {
	padding-left: 3.75rem;
	padding-right: 3.75rem;
}

.flow__inner {
	padding-bottom: 7.0625rem;
	padding-top: 5.9375rem;
}

.flow__wrap {
	background: #FFF;
	border-radius: 1.875rem;
	padding-bottom: 7.375rem;
	padding-top: 7.6875rem;
}

.flow__title {
	border-bottom: 0.1875rem solid #333;
	border-width: 0.125rem;
	font-size: 2rem;
	font-weight: 500;
	left: 0rem;
	line-height: 1.712;
	position: relative;
	text-align: center;
	text-align: center;
	top: 0;
}

.flow__btn {
	background: #FF9D80;
	margin: auto;
	max-width: 40rem;
	padding: 1.25rem 0rem;
	width: 100%;
}

.flow__text {
	font-size: 1rem;
	line-height: 2.125;
	padding-bottom: 2.75rem;
	padding-top: 3.1875rem;
	text-align: center;
}

.flow__text--color {
	color: #FFF;
}

.flow__move-box {
	margin: auto;
	max-width: 65.625rem;
	padding-left: 6.25rem;
	padding-right: 6.25rem;
	padding-top: 6.25rem;
	width: 100%;
}

.flow__move-box video {
	height: auto;
	margin: auto;
	max-width: 65.625rem;
	width: 100%;
}

.flow__br {
	display: block;
}

.content__wrap {
	display: flex;
	flex-wrap: wrap;
}

.content__box {
	-o-object-fit: cover;
	background-blend-mode: lighten;
	background-color: rgba(255, 255, 255, 0.6);
	background-image: url(../img/content_white.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	object-fit: cover;
	padding-bottom: 5.1875rem;
	padding-top: 4.9375rem;
	width: 50%;
}

.content_back02 {
	background-image: url(../img/content_dental.jpg);
}

.content_back03 {
	background-image: url(../img/content__ntroduction.jpg);
}

.content_back04 {
	background-image: url(../img/content_question.jpg);
}

.content__title {
	font-size: 1.5rem;
	font-weight: 400;
	padding-bottom: 2.5625rem;
	text-align: center;
}

.content__box:nth-child(3) .content__text {
	padding-bottom: 9.64875rem;
}

.content__text {
	flex: 2;
	font-size: 1.125rem;
	font-weight: 400;
	height: 100%;
	line-height: 1.7111;
	margin: 0 auto;
	max-width: 28.6875rem;
	padding-bottom: 3.875rem;
	text-align: center;
	width: 100%;
}

.content__btn {
	background: white;
	box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.16);
	margin: 0 auto;
	max-width: 27.1875rem;
	padding: 1.25rem 0rem;
	width: 100%;
}

.content__text--color {
	color: #FF9D80;
}

.beginner-sub {
	-o-object-fit: cover;
	background-blend-mode: lighten;
	background-color: rgba(255, 255, 255, 0.3);
	background-image: url(../img/beginner__back-pc.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 30px;
	margin-right: 30px;
	object-fit: cover;
}

.beginner-coment__inner {
	margin: auto;
	max-width: 95rem;
	padding-bottom: 10.5rem;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 7.875rem;
	width: 100%;
}

.beginner-coment__wrap {
	background: #FFF;
	border: 0.1875rem solid #FBBBA7;
	border-radius: 1.5625rem;
	padding-bottom: 3.1875rem;
	padding-left: 5.9375rem;
	padding-right: 5.9375rem;
	padding-top: 2.875rem;
}

.beginner-coment__title {
	border-bottom: 0.0625rem solid #707070;
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.714;
	padding-bottom: 1.25rem;
}

.beginner-coment__text {
	font-size: 1rem;
	line-height: 2;
	padding-top: 1.53125rem;
}

.beginner-coment__picture-inner {
	margin: auto;
	max-width: 82.5rem;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 3.5625rem;
	width: 100%;
}

.beginner-coment__picture-box {
	display: flex;
}

.beginner-coment__picture {
	margin-right: 1.5625rem;
	width: calc(33.3333333% - 1.5625rem * 2 / 3);
}

.beginner-coment__picture:last-child {
	margin-right: 0rem;
}

.reason__inner {
	margin: auto;
	max-width: 95rem;
	padding-bottom: 10.5rem;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%;
}

.reason__wrap {
	padding-top: 4.375rem;
}

.reason__continer {
	background: #FFF;
	display: flex;
	margin-bottom: 2.5rem;
	padding-bottom: 3.125rem;
	padding-left: 4.6875rem;
	padding-right: 6.25rem;
	padding-top: 3.125rem;
}

.reason__continer:nth-child(2n) {
	flex-direction: row-reverse;
}

.reason__continer:last-child {
	justify-content: space-between;
	margin-bottom: 0rem;
}

.reason__picture {
	height: auto;
	margin-right: 5.125rem;
	max-width: 20.875rem;
	position: relative;
	width: 100%;
}

.reason__picture:before {
	content: "";
	display: block;
	padding-top: 75%; /* 高さを幅の75%に固定 */
}

.reason__picture img {
	-o-object-fit: cover;
	bottom: 0;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.reason__continer:nth-child(2n) .reason__picture {
	margin-left: 5.125rem;
	margin-right: 0rem;
}

.reason__sub-title {
	font-size: 1.25rem;
	line-height: 1.58333;
	padding-bottom: 1.9375rem;
	padding-top: 1.625rem;
}

.reason__text {
	font-size: 1rem;
	line-height: 2.125;
}

.recommendation__inner {
	margin: auto;
	max-width: 84.375rem;
	padding-bottom: 10.5rem;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%;
}

.recommendation__wrap {
	background: #FFE8E0;
	border-radius: 1.875rem;
	margin-top: 3.125rem;
	max-width: 84.375rem;
	padding: 3.25rem 9.375rem;
	padding-left: 5rem;
	padding-right: 5rem;
	width: 100%;
}

.recommendation__continer {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.recommendation__box {
	margin-top: 3.125rem;
	width: calc(33.333333% - 0.625rem);
}

.recommendation__picture {
	margin: auto;
	max-width: 12.1875rem;
	width: 100%;
}

.recommendation__text {
	font-size: 1.125rem;
	line-height: 1.8;
	padding-top: 1.4375rem;
	text-align: center;
}

.receive__inner {
	margin: auto;
	max-width: 88.75rem;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%;
}

.receive__wrap {
	display: flex;
	padding-top: 7.5rem;
}

.receive__bgbox {
	margin-right: 5rem;
	max-width: 35.625rem;
	position: relative;
	width: calc(50% - 1.25rem);
}

.receive__bgbox:last-child {
	margin-right: 0rem;
}

.receive__icon {
	background: #FFF;
	border-radius: 50%;
	left: 50%;
	max-width: 8.75rem;
	padding: 1.875rem 2.5rem 3.125rem 2.5rem;
	position: absolute;
	top: -3.125rem;
	transform: translateX(-50%);
	width: 100%;
	z-index: 1;
}

.receive__icon img {
	margin: auto;
}

.receive__box {
	background: #FFF;
	padding-bottom: 1.5rem;
	padding-left: 4.0625rem;
	padding-right: 4.0625rem;
	padding-top: 3.125rem;
}

.receive__heading {
	color: #FBBBA7;
	font-size: 1.125rem;
	font-weight: 700;
	position: relative;
	text-align: center;
	z-index: 3;
}

.receive__picture {
	margin-bottom: 1.25rem;
	margin-top: 1.25rem;
	position: relative;
	width: 100%;
}

.receive__picture:before {
	content: "";
	display: block;
	padding-top: 41%;
}

.receive__picture img {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.self-sub {
	-o-object-fit: cover;
	background-blend-mode: lighten;
	background-color: rgba(255, 255, 255, 0.3);
	background-image: url(../img/self__back-pc.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 30px;
	margin-right: 30px;
	object-fit: cover;
}

.mv-bottom__inner {
	margin: auto;
	max-width: 75rem;
	padding-bottom: 10.5rem;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 6.25rem;
	width: 100%;
}

.mv-bottom {
	font-size: 1.375rem;
	line-height: 1.8;
	text-align: center;
}

.money__inner {
	margin: auto;
	max-width: 95rem;
	padding-bottom: 10.5rem;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%;
}

.money__picture {
	max-width: 19.625rem;
	width: 100%;
}

.money__container {
	background: #FFF;
	box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.16);
	display: flex;
	margin-top: 4.375rem;
	padding-bottom: 3.75rem;
	padding-left: 4.375rem;
	padding-right: 2.5rem;
	padding-top: 5rem;
	width: 100%;
}

.monet__table-text {
	display: block;
}

.money__text-box {
	margin-left: 4.375rem;
	width: 100%;
}

.money__title {
	font-size: 1.5rem;
	font-weight: 700;
}

.money__self {
	padding-top: 1.875rem;
}

.money__self-box {
	align-items: center;
	display: flex;
	line-height: 1.7;
}

.money__self-number {
	font-size: 1rem;
	max-width: 11.25rem;
	width: 100%;
}

.money__self-number {
	font-size: 1.125rem;
}

.money__self-number span {
	display: inline-block;
	font-size: 1.375rem;
	max-width: 2.5rem;
	width: 100%;
}

.money__self-money {
	font-size: 1rem;
	width: 100%;
}

.money__self-money span {
	display: inline-block;
	font-size: 1.375rem;
	font-weight: 500;
	letter-spacing: 0.1125rem;
	max-width: 6.875rem;
	text-align: right;
	width: 100%;
}

.money__self-money sub {
	font-size: 1.125rem;
	vertical-align: super;
}

.money__self-text {
	font-size: 0.875rem;
	line-height: 2.3;
}

.treatment__inner {
	margin: auto;
	max-width: 75rem;
	padding-bottom: 10.5rem;
	padding-left: 3.75rem;
	padding-right: 3.75rem;
	width: 100%;
}

.treatment__wrap {
	padding-top: 7.5rem;
}

.treatment__step {
	padding-right: 1.25rem;
}

.treatment__step-heading {
	padding-bottom: 8.75rem;
}

.treatment__content-comment {
	padding-right: 4.625rem;
}

.treatment__comment {
	padding-bottom: 4.125rem;
}

.treatment__comment:first-child {
	padding-bottom: 2.5rem;
}

.treatment__comment:nth-child(5) {
	padding-bottom: 4.375rem;
}

.treatment__comment:last-child {
	padding-bottom: 0rem;
}

.treatment__boder {
	height: 62.1875rem;
	max-width: 3.375rem;
}

.treatment__boder img {
	-o-object-fit: cover;
	height: 62.1875rem;
	max-width: 3.375rem;
	object-fit: cover;
}

.treatment__content-text {
	font-size: 1.125rem;
	line-height: 1.7778;
	max-width: 30.1875rem;
	padding-top: 0.625rem;
	width: 100%;
}

.treatment__picture {
	max-width: 13.5625rem;
	padding-bottom: 3.125rem;
	width: 100%;
}

.treatment__picture img {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}

.caution__text {
	font-size: 1.25rem;
	line-height: 2;
}

.pc-treatment__wrap {
	display: block;
}

.sp-treatment {
	display: none;
}

.sp-treatment__warp {
	padding-top: 4.375rem;
}

.sp-treatment__step {
	font-size: 1.5rem;
	font-weight: 500;
}

.sp-treatment__title {
	font-size: 1.375rem;
	font-weight: 500;
}

.sp-treatment__text {
	font-size: 1rem;
	line-height: 1.7;
	padding-top: 1.25rem;
}

.white-effect__inner {
	margin: auto;
	max-width: 75rem;
	padding-left: 3.75rem;
	padding-right: 3.75rem;
	width: 100%;
}

.winback-sub {
	-o-object-fit: cover;
	background-blend-mode: lighten;
	background-color: rgba(255, 255, 255, 0.3);
	background-image: url(../img/winback__back-pc.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 30px;
	margin-right: 30px;
	object-fit: cover;
}

.fv-sub {
	-o-object-fit: cover;
	background-blend-mode: lighten;
	background-color: rgba(255, 255, 255, 0.3);
	background-image: url(../img/winback-fv01.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: cover;
}

.fv__inner {
	margin: auto;
	margin-bottom: 13.0625rem;
	margin-top: 6.875rem;
	max-width: 82.5rem;
	padding-bottom: 6.6875rem;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 9.0625rem;
	width: 100%;
}

.fv__text-box {
	text-align: center;
}

.fv__title {
	font-size: 1.75rem;
	font-weight: 400;
	line-height: 1.36;
	padding-bottom: 2.75rem;
}

.fv__text {
	font-size: 1.375rem;
	line-height: 1.54545;
}

.method__inner {
	margin: auto;
	max-width: 82.5rem;
	padding-bottom: 10.5rem;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%;
}

.method__title {
	font-size: 1.75rem;
	font-weight: 400;
	padding-bottom: 2.5rem;
	text-align: center;
}

.method__text {
	font-size: 1.375rem;
	line-height: 1.818181;
	text-align: center;
}

.method__picture-box {
	display: flex;
	padding-top: 7.0625rem;
}

.method__picture {
	margin-right: 1.5625rem;
	width: calc(33.3333333% - 1.5625rem * 2 / 3);
}

.method__picture:last-child {
	margin-right: 0rem;
}

.effect-list__inner {
	margin: auto;
	max-width: 95rem;
	padding-bottom: 14.375rem;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%;
}

.effect-list__wrap {
	background: #FFF;
	border: 0.1875rem solid #FBBBA7;
	border-radius: 1.5625rem;
	padding-bottom: 4.4375rem;
	padding-left: 5.9375rem;
	padding-right: 5.9375rem;
	padding-top: 4.125rem;
}

.effect-list__title {
	border-bottom: 0.0625rem solid #707070;
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.714;
	padding-bottom: 1.25rem;
}

.effect-list__list {
	display: flex;
	flex-wrap: wrap;
}

.effect-list__item {
	font-size: 1.125rem;
	line-height: 3;
	width: calc(100% / 3);
}

.person__inner {
	margin: auto;
	max-width: 82.5rem;
	padding-bottom: 10.5rem;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%;
}

.person__wrap {
	padding-top: 4.375rem;
}

.person__container {
	align-items: center;
	background: #FFF;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2.5rem;
	padding-bottom: 3.125rem;
	padding-left: 4.6875rem;
	padding-right: 6.25rem;
	padding-top: 3.125rem;
}

.person__container:nth-child(2n) {
	flex-direction: row-reverse;
}

.person__container:last-child {
	margin-bottom: 0rem;
}

.person__picture {
	margin-right: 5.125rem;
	max-width: 22.1875rem;
	position: relative;
	width: 100%;
}

.person__picture:before {
	content: "";
	display: block;
	padding-top: 75%; /* 高さを幅の75%に固定 */
}

.person__picture img {
	-o-object-fit: cover;
	bottom: 0;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.person__container:nth-child(2) .person__picture {
	margin-left: 5.125rem;
	margin-right: 0rem;
}

.person__text {
	font-size: 1.375rem;
	font-weight: 500;
}

.money-table__inner {
	margin: auto;
	max-width: 82.5rem;
	padding-bottom: 10.5rem;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%;
}

.money-table__item {
	font-size: 1rem;
	line-height: 1.7;
	padding-bottom: 1.25rem;
}

.money-table__item:last-child {
	padding-bottom: 0rem;
}

.money-table__item span {
	font-size: 1.5rem;
	font-size: 500;
}

.money-table__item sup {
	font-size: 1rem;
}

.moneytable {
	padding-top: 1.875rem;
}

.moneytable__list {
	padding-top: 3.125rem;
}

.moneytable__box {
	align-items: center;
	display: flex;
	line-height: 1.7;
	padding-bottom: 1.875rem;
	width: 100%;
}

.moneytable__number {
	font-size: 1rem;
	max-width: 6.25rem;
	width: 100%;
}

.moneytable__number {
	font-size: 1.125rem;
}

.moneytable__number span {
	display: inline-block;
	font-size: 1.375rem;
	max-width: 3rem;
	width: 100%;
}

.moneytable__money {
	font-size: 1rem;
	width: 100%;
}

.moneytable__money span {
	display: inline-block;
	font-size: 1.375rem;
	font-weight: 500;
	letter-spacing: 0.1125rem;
	max-width: 5.9375rem;
	text-align: left;
	width: 100%;
}

.moneytable__money sub {
	font-size: 1.125rem;
	vertical-align: super;
}

.moneytable__text {
	font-size: 0.875rem;
	line-height: 2.3;
}

.treatment-flow__inner {
	margin: auto;
	max-width: 82.5rem;
	padding-bottom: 12.5rem;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%;
}

.treatment-flow__wrap {
	margin: auto;
	max-width: 63.75rem;
	padding-left: 9.375rem;
	padding-right: 9.375rem;
	width: 100%;
}

.treatment-flow__container {
	padding-top: 7.5rem;
}

.treatment-flow__step-heading {
	padding-bottom: 8.375rem;
}

.treatment-flow__step-heading:last-child {
	padding-bottom: 0rem;
}

.treatment-flow__comment {
	padding-bottom: 8.625rem;
}

.treatment-flow__comment:last-child {
	padding-bottom: 0rem;
}

.treatment-flow__boder {
	height: 37.5rem;
	max-width: 3.375rem;
}

.treatment-flow__boder img {
	-o-object-fit: cover;
	height: 37.5rem;
	max-width: 3.375rem;
	object-fit: cover;
}

.treatment-flow__text {
	font-size: 1rem;
	font-weight: 500;
	padding-top: 1.25rem;
	text-align: right;
}

.pc-treatment-flow {
	display: block;
}

.sp-treatment-flow {
	display: none;
}

.sp-treatment-flow__inner {
	padding-top: 4.375rem;
}

.sp-treatment-flow__warp {
	padding-bottom: 3.125rem;
}

.sp-treatment-flow__warp:last-child {
	padding-bottom: 0rem;
}

.sp-treatment-flow__step {
	font-size: 1.5rem;
	font-weight: 500;
}

.sp-treatment-flow__title {
	font-size: 1.375rem;
	font-weight: 500;
	padding-top: 1.25rem;
	text-align: center;
}

.winback-effect__inner {
	margin: auto;
	max-width: 75rem;
	padding-left: 3.75rem;
	padding-right: 3.75rem;
	width: 100%;
}

.winbank-effect__title:before {
	margin-right: 2.5rem;
}

.winbank-effect__title:after {
	margin-left: 2.5rem;
}

.ban__inner {
	margin: auto;
	max-width: 75rem;
	padding-left: 3.75rem;
	padding-right: 3.75rem;
	width: 100%;
}

.ban__wrap {
	background: #FFF;
	border: 0.1875rem solid #FBBBA7;
	border-radius: 1.5625rem;
	padding-bottom: 4.4375rem;
	padding-left: 5.9375rem;
	padding-right: 5.9375rem;
	padding-top: 4.125rem;
}

.ban__title {
	border-bottom: 0.0625rem solid #707070;
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.714;
	padding-bottom: 1.25rem;
	padding-left: 1.875rem;
}

.ban__title span {
	font-size: 1.125rem;
	font-weight: 700;
	padding-left: 1.875rem;
}

.ban__list-item {
	font-size: 1.125rem;
	line-height: 2.8;
}

.ban__caution {
	padding-top: 3.125rem;
}

.ban__br {
	display: none;
}

.question-sub {
	-o-object-fit: cover;
	background-blend-mode: lighten;
	background-color: rgba(255, 255, 255, 0.3);
	background-image: url(../img/question__back-pc.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 30px;
	margin-right: 30px;
	object-fit: cover;
}

.qa__inner {
	margin: auto;
	max-width: 95rem;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 6.25rem;
	width: 100%;
}

.qa__title {
	letter-spacing: 0.625rem;
}

.qa__container {
	padding-top: 2.5rem;
}

.qa__wrap {
	padding-top: 2rem;
}

.qa__heading-box,
.qa__answer-box {
	display: flex;
}

.qa__heading-box {
	background: #F0A48C;
	color: #FFF;
	padding-bottom: 1.5625rem;
	padding-left: 4.375rem;
	padding-top: 1.5625rem;
}

.qa__symbol {
	font-size: 1.375rem;
	font-weight: 700;
}

.qa__heading {
	font-size: 1.125rem;
	font-weight: 700;
}

.qa__answer-box {
	background: #FFF;
	margin-top: 0.625rem;
	padding-bottom: 2.5rem;
	padding-left: 4.375rem;
	padding-right: 4.375rem;
	padding-top: 1.5625rem;
}

.qa__answer-text {
	font-size: 1.125rem;
	line-height: 1.777778;
}

.qa__symbol {
	padding-right: 1.875rem;
}

.qa__symbol--color {
	color: #E2613A;
}

.information-sub {
	-o-object-fit: cover;
	background-blend-mode: lighten;
	background-color: rgba(255, 255, 255, 0.3);
	background-image: url(../img/information__back-pc.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 30px;
	margin-right: 30px;
	object-fit: cover;
}

.facility__inner {
	margin: auto;
	max-width: 82.5rem;
	padding-bottom: 10.5rem;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%;
}

.facility__wrap {
	padding-top: 4.375rem;
}

.company__inner {
	margin: auto;
	max-width: 95rem;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%;
}

.company__table {
	margin: auto;
	max-width: 95rem;
	width: 100%;
}

.company__wrap {
	background: #FFF;
	margin-top: 4.375rem;
	padding: 4.375rem 12.5rem;
}

.company__th,
.company__td {
	padding: 2.375rem 0rem;
	padding-bottom: 1.25rem;
	padding-top: 1.25rem;
}

.company__table {
	border-collapse: collapse;
}

.company__td {
	border-bottom: 0.0625rem solid #000;
	font-size: 1rem;
	font-size: 1.1875rem;
	font-weight: 700;
	text-align: center;
	width: 20%;
	width: 10.5625rem;
}

.company__th {
	border-bottom: 0.0625rem solid #B7B7B7;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.17;
	padding-left: 1.25rem;
	text-align: left;
}

.company__map {
	height: 14.4375rem;
	padding-top: 1.1875rem;
}

.company__tr:last-child .company__td {
	border-bottom: none;
}

.company__tr:last-child .company__th {
	border-bottom: none;
}

.company__th:last-child {
	line-height: 2.11111;
}

.staf__inner {
	margin: auto;
	max-width: 95rem;
	padding-bottom: 10.5rem;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 6.25rem;
	width: 100%;
}

.staf__wrap {
	padding-top: 4.375rem;
}

.staf__container {
	background: #FFF;
	border-radius: 1.875rem;
	display: flex;
	padding-bottom: 3.75rem;
	padding-left: 8.125rem;
	padding-right: 8.125rem;
	padding-top: 5rem;
}

.staf__picture {
	margin-right: 3.125rem;
	max-width: 16.625rem;
	position: relative;
	width: 100%;
}

.staf__picture:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.staf__picture img {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.staf__position {
	font-size: 1.375rem;
	font-weight: 500;
}

.staf__name {
	font-size: 1.75rem;
	font-weight: 500;
}

.staf__name span {
	font-size: 1.125rem;
	font-weight: 400;
	padding-left: 1.25rem;
}

.staf__career-box {
	padding-top: 1.875rem;
}

.staf__caree {
	font-size: 1.25rem;
	font-weight: 500;
}

.staf__content {
	padding-top: 0.9375rem;
}

.staf__content li {
	font-size: 1.125rem;
	line-height: 2.175;
}

@media (prefers-reduced-motion: reduce) {

html:focus-within {
	scroll-behavior: auto;
}

*,
*::before,
*::after {
	-webkit-animation-duration: 0.01ms !important;
	-webkit-animation-iteration-count: 1 !important;
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	scroll-behavior: auto !important;
	transition-duration: 0.01ms !important;
}

}

@media screen and (min-width: 1440px) {

.hidden-pc {
	display: none;
}

}

@media screen and (max-width: 1319px) {

html {
	font-size: 1.21212vw;
}

}

@media screen and (max-width: 767px) {

html {
	font-size: 16px;
}

.header-sub {
	height: 5rem;
	margin-left: 0rem;
	margin-right: 0rem;
	padding-left: 20px;
	padding-right: 20px;
}

.btn__sub {
	display: none;
}

.logo {
	margin-right: 0rem;
	width: 10rem;
}

.instagram {
	height: auto;
	margin-right: 4.375rem;
	width: 1.75rem;
}

.header__hamburger-button {
	right: 0.5rem;
	top: 0.3125rem;
}

.header__hamburger-button span {
	height: 0.125rem;
}

.header__hamburger-button span:nth-child(2) {
	top: 0.875rem;
}

.header__hamburger-button span:nth-child(3) {
	top: 1.75rem;
}

.header__hamburger-item {
	font-size: 1.125rem;
}

.ttl {
	font-size: 1.75rem;
}

.footer__inner {
	padding-bottom: 3.125rem;
	padding-top: 3.75rem;
}

.footer__btn-box {
	display: block;
	padding-bottom: 3.75rem;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3.125rem;
}

.footer__mail-btn,
.footer__tell-box {
	max-width: none;
}

.footer__mail-btn {
	padding-right: 0rem;
}

.footer__tell-box {
	padding-left: 0rem;
}

.footer__mail-btn a {
	padding: 1.93463rem 1.25rem;
}

.footer__tell-btn a {
	padding: 1.25rem 0rem;
}

.footer__mail-icon img,
.footer__tell-icon img {
	max-width: 1.875rem;
}

.footer__tell-text {
	line-height: 1.7;
	padding: 1.25rem 0rem;
}

.footer__wrap {
	display: block;
	padding-bottom: 3.75rem;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3.125rem;
}

.footer_logo {
	margin: auto;
	max-width: 23.75rem;
	width: 100%;
}

.footer__comment {
	font-size: 0.875rem;
	padding-top: 3.125rem;
	text-align: center;
}

.footer__menu {
	display: block;
	margin-left: 0rem;
	padding-top: 1.875rem;
	text-align: center;
}

.footer__menu-item {
	font-size: 1rem;
	line-height: 3.175;
	margin-right: 0rem;
}

.mv-underlayer__title {
	font-size: 2.5rem;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.effect__title {
	font-size: 1.5rem;
}

.effect__picture-box {
	padding-top: 4.375rem;
}

.effect__picture {
	max-width: none;
}

.effect__picture img {
	max-width: none;
}

.effect__picture:nth-child(5),
.effect__picture:nth-child(8) {
	margin: 0rem;
}

.effect__picture:nth-child(odd) {
	margin-top: 3.75rem;
}

.effect__picture:first-child {
	margin-top: 0rem;
}

.effect__arrow {
	display: none;
}

.effect__arrow-sp {
	display: block;
	margin: auto;
	max-width: 4.375rem;
	padding-bottom: 1.25rem;
	padding-top: 1.25rem;
	width: 100%;
}

.c-card__inner {
	padding-left: 20px;
	padding-right: 20px;
}

.c-card__wrap {
	display: block;
	margin: auto;
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
}

.c-card__picture-box {
	margin: auto;
	max-width: 33.75rem;
}

.c-card__picture-box img {
	margin: auto;
	width: 100%;
}

.c-card__title {
	padding-top: 1.25rem;
}

.card__box {
	width: 100%;
}

.mv-top__sub {
	background-image: url(../img/top__back-sp.jpg);
	margin-left: 0rem;
	margin-right: 0rem;
}

.mv__title-box {
	left: 1.25rem;
}

.mv__title {
	font-size: 1.625rem;
}

.mv__sub-title {
	font-size: 1.5rem;
}

.measures__inner {
	max-width: 40rem;
	padding-left: 20px;
	padding-right: 20px;
}

.measures__wrap-inner {
	margin-left: 0rem;
	margin-right: 0rem;
}

.measures__title {
	font-size: 1.375rem;
	justify-content: center;
}

.measures__title:before {
	display: none;
}

.measures__title:after {
	display: none;
}

.measures__text {
	padding-bottom: 1.875rem;
	padding-top: 1.875rem;
}

.measures__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
}

.measures__picture-box {
	margin-right: 1.5625rem;
	margin-top: 2.1875rem;
	max-width: none;
	width: calc(50% - 0.8125rem);
}

.measures__picture-box:nth-child(-n+2) {
	margin-top: 0rem;
}

.measures__picture-box:nth-child(2n) {
	margin-right: 0rem;
}

.greeting-sub {
	padding-bottom: 3.75rem;
	padding-top: 2.5rem;
}

.greeting_inner {
	max-width: 40rem;
	padding-bottom: 3.75rem;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3.125rem;
}

.greeting__text {
	font-size: 0.875rem;
	padding-top: 3.125rem;
}

.news__inner {
	max-width: 40rem;
	padding-bottom: 3.75rem;
	padding-left: 20px;
	padding-right: 20px;
}

.news__wrap {
	padding: 3.125rem 1.25rem;
}

.news__day {
	font-size: 1rem;
}

.news__comment {
	font-size: 1.125rem;
}

.opinion__inner {
	padding-left: 20px;
	padding-right: 20px;
}

.opinion__wrap {
	display: block;
	max-width: none;
	padding-left: 0rem;
	padding-right: 0rem;
}

.opinion__card {
	margin: auto;
	margin-bottom: 1.875rem;
	max-width: 31.25rem;
}

.opinion__card:nth-child(2) {
	margin-left: auto;
	margin-right: auto;
}

.opinion__card:last-child {
	margin-bottom: 0rem;
}

.flow-sub {
	margin: auto;
	max-width: 40rem;
	padding-left: 20px;
	padding-right: 20px;
}

.flow__inner {
	padding-bottom: 3.75rem;
	padding-top: 3.125rem;
}

.flow__wrap {
	padding-bottom: 3.75rem;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3.125rem;
}

.flow__title {
	font-size: 1.75rem;
}

.flow__text {
	padding-bottom: 2.5rem;
	padding-top: 2.8125rem;
}

.flow__move-box {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3.125rem;
}

.flow__br {
	display: none;
}

.content__box {
	margin: auto;
	max-width: 33.75rem;
	min-height: 35rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.beginner-sub {
	background-image: url(../img/beginner__back-sp.jpg);
	margin-left: 0rem;
	margin-right: 0rem;
}

.beginner-coment__inner {
	max-width: 40rem;
	padding-bottom: 3.75rem;
	padding-left: 20px;
	padding-right: 20px;
}

.beginner-coment__wrap {
	padding-left: 20px;
	padding-right: 20px;
}

.beginner-coment__title {
	font-size: 1.375rem;
}

.beginner-coment__picture-inner {
	padding-left: 20px;
	padding-right: 20px;
}

.beginner-coment__picture-box {
	display: block;
}

.beginner-coment__picture {
	padding-bottom: 1.875rem;
	width: 100%;
}

.beginner-coment__picture:last-child {
	padding-bottom: 0rem;
}

.reason__inner {
	max-width: 40rem;
	padding-bottom: 3.75rem;
	padding-left: 20px;
	padding-right: 20px;
}

.reason__continer {
	display: block;
	padding-left: 20px;
	padding-right: 20px;
}

.reason__picture {
	max-width: none;
}

.reason__continer:nth-child(2n) .reason__picture {
	margin-left: 0rem;
}

.recommendation__inner {
	max-width: 40rem;
	padding-bottom: 3.75rem;
	padding-left: 20px;
	padding-right: 20px;
}

.recommendation__wrap {
	max-width: 40rem;
	padding-left: 20px;
	padding-right: 20px;
}

.recommendation__continer {
	display: flex;
	flex-wrap: wrap;
}

.recommendation__box {
	margin-right: 1.5625rem;
	margin-top: 2.1875rem;
	max-width: none;
	width: calc(50% - 0.8125rem);
}

.recommendation__box:nth-child(-n+2) {
	margin-top: 0rem;
}

.recommendation__box:nth-child(2n) {
	margin-right: 0rem;
}

.recommendation__picture {
	max-width: none;
}

.recommendation__text {
	font-size: 1rem;
}

.receive__inner {
	max-width: 40rem;
	padding-left: 20px;
	padding-right: 20px;
}

.receive__wrap {
	display: block;
}

.receive__bgbox {
	width: 100%;
}

.receive__box {
	margin-bottom: 5.625rem;
	padding-left: 20px;
	padding-right: 20px;
}

.self-sub {
	background-image: url(../img/self__back-sp.jpg;);
	margin-left: 0rem;
	margin-right: 0rem;
}

.mv-bottom__inner {
	max-width: 40rem;
	padding-bottom: 4.375rem;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3.75rem;
}

.mv-bottom {
	font-size: 1rem;
}

.money__inner {
	margin: auto;
	max-width: 40rem;
	padding-bottom: 4.375rem;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3.75rem;
	width: 100%;
}

.money__wrap {
	margin-top: 4.375rem;
}

.money__picture {
	margin: auto;
	max-width: 31.25rem;
}

.money__picture img {
	width: 100%;
}

.money__container {
	display: block;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.money__text-box {
	margin-left: 0rem;
}

.money__title {
	padding-top: 1.875rem;
	text-align: center;
}

.money__self {
	margin: auto;
	max-width: 31.25rem;
	width: 100%;
}

.money__self-box {
	display: block;
	line-height: 1.5;
	padding-bottom: 1.875rem;
}

.money__self-number {
	padding-bottom: 0.625rem;
}

.money__self-text {
	line-height: 1.5;
	padding-bottom: 1.875rem;
}

.treatment__inner {
	max-width: 33.75rem;
	padding-bottom: 4.375rem;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3.75rem;
}

.treatment__picture {
	margin: auto;
	max-width: 31.25rem;
	padding-bottom: 1.875rem;
	padding-top: 1.875rem;
}

.caution {
	padding-top: 3.125rem;
}

.caution__text {
	font-size: 0.875rem;
	line-height: 2;
}

.pc-treatment__wrap {
	display: none;
}

.sp-treatment {
	display: block;
}

.white-effect__inner {
	max-width: 40rem;
	padding-left: 20px;
	padding-right: 20px;
}

.winback-sub {
	background-image: url(../img/winback__back-sp.jpg);
	margin-left: 0rem;
	margin-right: 0rem;
}

.fv__inner {
	margin-bottom: 4.375rem;
	margin-top: 3.75rem;
	max-width: 40rem;
	padding-bottom: 3.75rem;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3.75rem;
}

.fv__title {
	padding-bottom: 1.875rem;
}

.fv__text {
	font-size: 1.125rem;
}

.method__inner {
	max-width: 40rem;
	padding-bottom: 6.25rem;
	padding-left: 20px;
	padding-right: 20px;
}

.method__text {
	font-size: 1.125rem;
}

.method__picture-box {
	display: block;
	padding-top: 3.125rem;
}

.method__picture {
	margin-bottom: 1.875rem;
	width: 100%;
}

.method__picture:last-child {
	margin-bottom: 0rem;
}

.effect-list__inner {
	max-width: 40rem;
	padding-bottom: 6.25rem;
	padding-left: 20px;
	padding-right: 20px;
}

.effect-list__wrap {
	padding-left: 20px;
	padding-right: 20px;
}

.effect-list__title {
	text-align: center;
}

.effect-list__item {
	text-align: center;
	width: 100%;
}

.person__inner {
	max-width: 40rem;
	padding-bottom: 3.75rem;
	padding-left: 20px;
	padding-right: 20px;
}

.person__container {
	display: block;
	padding-left: 20px;
	padding-right: 20px;
}

.person__picture {
	max-width: none;
}

.person__container:nth-child(2) .person__picture {
	margin-left: 0rem;
}

.person__text {
	font-size: 1.125rem;
	padding-top: 2.5rem;
}

.money-table__inner {
	max-width: 40rem;
	padding-bottom: 3.75rem;
	padding-left: 20px;
	padding-right: 20px;
}

.moneytable {
	margin: auto;
	max-width: 31.25rem;
	width: 100%;
}

.moneytable__list {
	padding-top: 1.875rem;
}

.moneytable__box {
	display: block;
	line-height: 1.5;
	padding-bottom: 1.875rem;
}

.moneytable__number {
	padding-bottom: 0.625rem;
}

.moneytable__text {
	line-height: 1.5;
	padding-bottom: 1.875rem;
}

.treatment-flow__inner {
	max-width: 33.75rem;
	padding-bottom: 4.375rem;
	padding-left: 20px;
	padding-right: 20px;
}

.pc-treatment-flow {
	display: none;
}

.sp-treatment-flow {
	display: block;
}

.ban__inner {
	max-width: 40rem;
	padding-left: 20px;
	padding-right: 20px;
}

.ban__wrap {
	padding-left: 20px;
	padding-right: 20px;
}

.ban__title {
	padding-left: 0rem;
}

.ban__title span {
	display: block;
	font-size: 0.875rem;
	padding-left: 0rem;
}

.ban__list-item {
	font-size: 1rem;
	line-height: 2.175;
}

.ban__br {
	display: block;
}

.question-sub {
	background-image: url(../img/question__back-sp.jpg);
	margin-left: 0rem;
	margin-right: 0rem;
}

.qa__inner {
	max-width: 40rem;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3.75rem;
}

.qa__heading-box {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.qa__answer-box {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.qa__answer-text {
	font-size: 1rem;
}

.information-sub {
	background-image: url(../img/information__back-sp.jpg);
	margin-left: 0rem;
	margin-right: 0rem;
}

.facility__inner {
	max-width: 40rem;
	padding-left: 20px;
	padding-right: 20px;
}

.company__inner {
	max-width: 40rem;
	padding-left: 20px;
	padding-right: 20px;
}

.company__wrap {
	max-width: 40rem;
	padding-left: 20px;
	padding-right: 20px;
}

.company__th {
	font-size: 1rem;
}

.staf__inner {
	max-width: 40rem;
	padding-left: 20px;
	padding-right: 20px;
}

.staf__container {
	display: block;
	margin: auto;
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.staf__picture {
	margin: auto;
	max-width: 31.25rem;
}

.staf__text-box {
	margin: auto;
	max-width: 31.25rem;
	padding-top: 1.25rem;
	width: 100%;
}

.staf__name {
	font-size: 1.5rem;
}

.staf__name span {
	font-size: 0.875rem;
	padding-left: 0.625rem;
}

.hidden-sp {
	display: none;
}

}

@media (max-width: 375px) {

html {
	font-size: 4.26667vw;
}

}

