.news__inner {
    max-width: rem(1520);
    width: 100%;
    margin: auto;
    padding-left: $padding-pc;
    padding-right: $padding-pc;
    padding-bottom: rem(130);

    @include mq("sp") {
        max-width: rem(640);
        padding-left: $padding-sp;
        padding-right: $padding-sp;
        padding-bottom: rem(60);
    }
}


.news__wrap {
    background: $white;
    padding: rem(95) rem(149);

    @include mq("sp") {
        padding: rem(50) rem(20);
    }
}

.news__container {
    padding-bottom: rem(59);
}

.news__content {
    margin-bottom: rem(30);
}

.news__title {
    font-size: rem(32);
    font-weight: $normal;
    text-align: center;
    padding-bottom: rem(90);

    @include mq("sp") {
        font-size: rem(24);
        padding-bottom: rem(90);
    }
}

.news__day {
    display: inline-block;
    font-size: rem(18);

    @include mq("sp") {
        font-size: rem(16);
    }
}

.news__category {
    display: inline-block;
    font-size: rem(13);
    padding: rem(3) rem(25);
    background: $tag;
    color: $white;
    margin-left: rem(21);
}

.news__heading {
    font-size: rem(20);
    font-weight: $normal;
    padding-top: rem(17);
    padding-bottom: rem(23);
    border-bottom: rem(1) solid $gray;

    @include mq("sp") {
        font-size: rem(16);
    }
}

.news__btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.news__btn--color {
    background: $b-btn_back;
    color: $white;
}

.news__btn {
    max-width: rem(640);
    width: 100%;
    padding: rem(20) rem(0);
    border-radius: rem(50);
}

.news__btn:hover {
    opacity: 0.7;
}
