.error__main {
    max-width: rem(1520);
    width: 100%;
    margin: auto;
    padding-right: $padding-pc;
    padding-left: $padding-pc;

    @include mq("sp") {
        max-width: rem(640);
        width: 100%;
        margin: auto;
        padding-right: $padding-sp;
        padding-left: $padding-sp;
    }
}

.error__container {
    padding-top: rem(160);
    text-align: center;
}

.error__container h1 {
    font-size: rem(60);

    @include mq("sp") {
        font-size: rem(24);
    }
}

.error__container p {
    padding-top: rem(10);
    font-size: rem(36);

    @include mq("sp") {
        font-size: rem(16);
    }
}