.facility__inner {
    max-width: rem(1320);
    width: 100%;
    margin: auto;
    padding-left: $padding-pc;
    padding-right: $padding-pc;
    padding-bottom: rem(168);

    @include mq("sp") {
        max-width: rem(540);
        padding-left: $padding-sp;
        padding-right: $padding-sp;
        padding-bottom: rem(70);
    }
}

.facility__wrap {
    padding-top: rem(70);
}
