.question-sub {
    background-image: url(../img/question__back-pc.jpg);
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    margin-right: $margin-pc;
    margin-left: $margin-pc;

    @include mq("sp") {
        background-image: url(../img/question__back-sp.jpg);
        margin-right: rem(0);
        margin-left: rem(0);
    }
}