.btn__sub {
    max-width: rem(368);
    width: 100%;
    height: rem(74);
    position: relative;
}

.btn__inner {
    background: $btn_color;
    padding-top: rem(24.5);
    padding-bottom: rem(24.5);
    padding-left: rem(45);
    padding-right: rem(30);
    border-radius: rem(15);
}

.btn__inner:hover {
    opacity: 0.7;
}

.btn__box {
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
}

.btn__box img {
    max-width: rem(34);
    width: 100%;
    height: rem(25);
}

.btn__text {
    color: $white;
    font-size: rem(16);
    margin-left: rem(10);
    margin-right: rem(10);
}

.btn__text span {
    font-size: rem(18);
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
}