.person__inner {
    max-width: rem(1320);
    width: 100%;
    margin: auto;
    padding-left: $padding-pc;
    padding-right: $padding-pc;
    padding-bottom: rem(168);

    @include mq("sp") {
        max-width: rem(640);
        padding-bottom: rem(60);
        padding-left: $padding-sp;
        padding-right: $padding-sp;
    }
}

.person__wrap {
    padding-top: rem(70);
}

.person__container {
    padding-top: rem(50);
    padding-bottom: rem(50);
    padding-left: rem(75);
    padding-right: rem(100);
    margin-bottom: rem(40);
    background: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq("sp") {
        display: block;
        padding-left: $padding-sp;
        padding-right: $padding-sp;
    }
}

.person__container:nth-child(2n) {
    flex-direction: row-reverse;
}

.person__container:last-child {
    margin-bottom: rem(0);
}

.person__picture {
    max-width: rem(355);
    width: 100%;
    position: relative;
    margin-right: rem(82);

    @include mq("sp") {
        max-width: none;
    }
}　

.person__picture:before {
    content:"";
    display: block;
    padding-top: 75%; /* 高さを幅の75%に固定 */
}

.person__picture img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.person__container:nth-child(2) .person__picture {
    margin-right: rem(0);
    margin-left: rem(82);

    @include mq("sp") {
        margin-left: rem(0);
    }
}


.person__text {
    font-size: rem(22);
    font-weight: $medium;

    @include mq("sp") {
        font-size: rem(18);
        padding-top: rem(40);
    }
}