.winback-effect__inner {
    max-width: rem(1200);
    width: 100%;
    margin: auto;
    padding-left: rem(60);
    padding-right: rem(60);
}

.winbank-effect__title:before {
    margin-right: rem(40);
}

.winbank-effect__title:after {
    margin-left: rem(40);
}