.receive__inner {
    max-width: rem(1420);
    width: 100%;
    margin: auto;
    padding-left: $padding-pc;
    padding-right: $padding-pc;

    @include mq("sp") {
        max-width: rem(640);
        padding-left: $padding-sp;
        padding-right: $padding-sp;
    }
}

.receive__wrap {
    padding-top: rem(120);
    display: flex;

    @include mq("sp") {
        display: block;
    }
}

.receive__bgbox {
    max-width: rem(570);
    width: calc(50% - #{rem(20)});
    margin-right: rem(80);
    position: relative;

    @include mq("sp") {
        max-width: rem(640);
        width: 100%;
        margin: auto;
    }
}

.receive__bgbox:last-child {
    margin-right: rem(0);
}

.receive__icon {
    background: $white;
    max-width: rem(140);
    width: 100%;
    padding: rem(30) rem(40) rem(50) rem(40);
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: rem(-50);
    left: 50%;
    transform: translateX(-50%);
}

.receive__icon img {
    margin: auto;
}

.receive__box {
    background: $white;
    padding-top: rem(50);
    padding-bottom: rem(24);
    padding-left: rem(65);
    padding-right: rem(65);

    @include mq("sp") {
        padding-left: $padding-sp;
        padding-right: $padding-sp;
        margin-bottom: rem(90);
    }
}

.receive__bgbox:last-child .receive__box:last-child {
    @include mq("sp") {
        margin-bottom: rem(0);
    }
}

.receive__heading {
    text-align: center;
    font-size: rem(18);
    font-weight: $bold;
    color: $boder_color;
    z-index: 3;
    position: relative;
}

.receive__picture {
    position: relative;
    width: 100%;
    margin-top: rem(20);
    margin-bottom: rem(20);
}

.receive__picture:before {
    content: "";
    display: block;
    padding-top: 41%;
}

.receive__picture img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.receive__btn {
    max-width: rem(640);
    width: 100%;
    margin: auto;
    background: $b-btn_back;
    padding: rem(20) rem(0);
}

.receive__text {
    padding-top: rem(51);
    padding-bottom: rem(44);
    line-height: 2.125;
    text-align: center;
    font-size: rem(16);

    @include mq("sp") {
        padding-top: rem(45);
        padding-bottom: rem(40);
    }
}

.receive__btn:hover {
    opacity: 0.7;
}