.recommendation__inner {
    max-width: rem(1350);
    width: 100%;
    margin: auto;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
    padding-bottom: rem(168);

    @include mq("sp") {
        max-width: rem(640);
        padding-right: $padding-sp;
        padding-left: $padding-sp;
        padding-bottom: rem(60);
    }
}

.recommendation__wrap {
    max-width: rem(1350);
    width: 100%;
    padding-right: rem(80);
    padding-left: rem(80);
    padding: rem(52) rem(150);
    margin-top: rem(50);
    background: $right_orage;
    border-radius: rem(30);

    @include mq("sp") {
        max-width: rem(640);
        padding-right: $padding-sp;
        padding-left: $padding-sp;
    }
}

.recommendation__continer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include mq("sp") {
        display: flex;
        align-items: flex-start;
        justify-content:start;
        flex-wrap: wrap;
    }
}

.recommendation__box {
    width: calc(33.333333% - #{rem(10)});
    margin-top: rem(50);

    @include mq("sp") {
        flex-direction: column;
        max-width: none;
        width: calc(50% - #{rem(13)});
        margin-right: rem(25);
        margin-top: rem(35);
    }
}

.recommendation__box:nth-child(-n+2) {

    @include mq("sp") {
        margin-top: rem(0);
    }
}

.recommendation__box:nth-child(2n) {

    @include mq("sp") {
        margin-right: rem(0);
    }
}


.recommendation__box:last-child {

    @include mq("sp") {
        margin-right: rem(0);
    }
}


.recommendation__picture {
    max-width: rem(195);
    width: 100%;
    margin: auto;

    @include mq("sp") {
        max-width: none;
    }
}

.recommendation__text {
    padding-top: rem(23);
    font-size: rem(18);
    text-align: center;
    line-height: 1.8;

    @include mq("sp") {
        font-size: rem(16);
    }
}